<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.4.0" targetFramework="net46" />
  <package id="Autofac.Mvc5" version="3.3.4" targetFramework="net46" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="MicrosoftWebMvc" version="2.0" targetFramework="net46" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net46" />
  <package id="Mvc2Futures" version="2.0.50217.0" targetFramework="net46" />
  <package id="Mvc4Futures" version="4.0.20710.0" targetFramework="net46" />
  <package id="MvcContrib" version="2.0.95.0" targetFramework="net46" />
  <package id="MvcRouteTester" version="1.2.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="StyleCop.MSBuild" version="4.7.51.0" targetFramework="net46" developmentDependency="true" />
  <package id="TestStack.FluentMVCTesting" version="3.0.0" targetFramework="net46" />
</packages>